<div class="text-center mt-5"> <!-- container that centers all text + adds top margin -->
    <h1>Welcome to the Workout Tracker 💪</h1> <!-- big main heading to greet  user -->
    <p class="lead mt-2">Track your workouts, stay consistent, get stronger.</p> <!-- smaller subtext with little spacing on top -->
    
    <a href="/workouts" class="btn btn-primary mt-3">View Workouts</a> <!-- button styled with Bootstrap that links to all workouts -->
</div>
